
.icon-edit:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
